html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures full coverage */
  background-color: lightblue;
}

.Container {
  display: grid;
  grid-template-columns: 15% 60% 15%;
  justify-content: center; 
  
}
.Right {
  display: flex;
  flex-direction: column;
  
}
.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center; 
  align-items: center;
  margin: 0 auto;
  
}

.description-content {
  max-width: 300px;
  text-align: left;
}

.App-logo {
  height: auto;
  max-height: 150px;
  width: auto;
  max-width: 100%;
  margin-bottom: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(7px + 1.5vmin);
  color: white;
  text-align:center
}

.App-link {
  color: #61dafb;
}
.dropdown-label {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 5px;
}


.name-input {
  width: 100%;              
  padding: 10px;            
  margin-top: 10px;
  margin-bottom: 16px;         
  border: 1px solid #ccc;  
  border-radius: 4px;       
  font-size: 16px;          
  outline: none;            
  transition: border-color 0.3s ease; 
}


.branch-select {
  margin-bottom: 16px;
  padding: 4px; 
  font-size: 16px; 
}

.upload-message {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 5px;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Modern button styles */
.button {
  background-color: #007bff; /* Primary color */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  height: 40px; /* Fixed height for equal height buttons */
  line-height: 20px; /* Adjust line height for vertical alignment */
}
.logoutSection{
  align-self: center;
}

.button:hover {
  background-color: #0056b3; 
}

.button:active {
  background-color: #004494; }

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Focus ring */
}

/* Hide the default file input */
.file-input {
  display: none;
}

/* Ensure vertical layout for form elements */
.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.upload-form p {
  margin: 8px 0;
  font-size: 16px;
  color: #333;
  text-align: center;
}